.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(244, 242, 242);
  border-radius: 10px;
  width: fit-content;
  background: #1d1c1c;
  transition: ease-in-out;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e2e2e;
  color: white;
}
